<div class="title">
    <h1>Plates</h1>
</div>
<div class="filter-new-content">
    <mat-form-field class="af-input" appearance="fill">
        <mat-label>name, price ...</mat-label>
        <input matInput type="text" [(ngModel)]="filter">
        <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
            <mat-icon>close</mat-icon>
        </button>
        
    </mat-form-field>
    <div >
        <button class="add-btn" routerLink="/plates/0" mat-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>

<div class="food-card-container">
    <div *ngFor="let plate of plates | filter:'id,name,price':filter" [routerLink]="['/plates',plate.id]" class="food-card">
        <span>{{plate.name}}</span>
        <span>${{plate.price}}</span>
    </div>
</div>